td {
height: 5rem;
width: 5rem;
background-color: gray;
border-radius: 50%;
border: solid 1px black;
}


html {
    display: table;
    margin: auto;
}



.welcomeMsg,.description,#player {
 text-align: center;
}

div{
    margin-top: .5rem;
}

table{
    border-spacing: .3rem;
    transform:rotate(-90deg);
    direction: rtl;

}

#player{
    font-size: larger;
    margin-top: 3rem;
    font-weight: 800;
}


